<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        * {
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0px auto;
        }

        body {
            background-image: linear-gradient(white, lightblue);
            background-attachment: fixed;
            font-size: 15px;

            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        h3 {
            color: black;
            text-align: center;
            margin-top: 1px;
            margin-bottom: 1px;
            margin-right: 10px;
            margin-left: 10px;
            border-radius: 30px;
            border: 2px solid #76A5AF;
            padding: 10px;
            width: 200px;
            height: 40px;
        }

        h4 {
            color: black;
            text-align: center;
            margin-top: 1px;
            margin-bottom: 1px;
            margin-right: 10px;
            margin-left: 10px;
            border-radius: 10px;
            border: 2px solid rgb(196, 193, 193);
            padding: 5px;
            width: 130px;
            height: 30px;
        }

        p {
            font-family: verdana;
            font-size: 15px;
            margin-top: 1px;
            margin-bottom: 1px;
            margin-right: 10px;
            margin-left: 10px;
        }

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: underline;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(77, 112, 122);
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #76A5AF;
        }

        .active {
            background-color: rgb(9, 10, 10);
        }

        * {
            box-sizing: border-box;
        }

        .topnav-right {
            float: right;
        }

        .topnav-centered a {
            float: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        input[type=text],
        select,
        textarea {
            width: 25%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        .container {
            border-radius: 5px;
            background-color: #e3f3f5;
            padding: 20px;
        }

        img {
            border-radius: 50%;
            border: 2px solid black;
            margin-left: 10px;
            padding: 2px;
            text-align: center;
        }

        .center {
            margin: auto;
            width: 60%;
            border: 3px solid rgb(77, 112, 122);
            padding: 10px;
            text-align: justify;
            text-justify: inter-word;
        }
    </style>
    {% if title %}
    <title>Blog - {{ title }}</title>
    {% else %}
    <title>Blog</title>
    {% endif %}
</head>

<body>
    <header>
        <ul>
            <li><a href="{% url 'blog-home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'post-create' %}">Create</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>

            <div class="topnav-right">
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </div>

            {% else %}
            <div class="topnav-right">
                <li><a href="{% url 'login' %}">Login</a></li>

                <li><a href="{% url 'register' %}">Register</a></li>
            </div>
            {% endif %}
        </ul>
    </header>
    {% block content %}
    {% endblock %}

</body>

</html>