{% extends "blog/base.html" %}
{% block content %}
<div class="center">
    <p><img src="{{ user.profile.image.url }}" height=50 width=50>{{ post.author  }}</p>
    <p> <small> {{ post.date_posted  }}</small></p>
    <h4>{{ post.title }}</h4>
    <fieldset>
        <p>{{ post.content }}</p>
    </fieldset>
    <small>{{ total_likes }} Like{{ total_likes|pluralize }}</small>
    {% if request.user.is_authenticated  %}
    <form action="{% url 'post_like' %}" method="POST">
        {% csrf_token %}
        {% if is_liked %}
        <button type="submit" name="post_id" value="{{ post.id }}">Dislike</button>
        {% else %}
        <button type="submit" name="post_id" value="{{ post.id }}">Like</button>
        {% endif %}
    </form>
    {% endif %}
    {% if post.author == user %}
    <button class="btn btn-outline-info" type="submit"><a href="{% url 'post-update' post.id %}">Update</a></button>
    <button class="btn btn-outline-info" type="submit"><a href="{% url 'post-delete' post.id %}">Delete</a></button>
    {% endif %}
</div>
{% endblock content %}