{% extends "blog/base.html" %}
{% block content %}
{% csrf_token %}
<div class="center">
    {% for post in posts%}
    {%if post.author.profile.image.url%}
    <p><img src="{{ post.author.profile.image.url }}" height=50 width=50>{{ post.author  }}</p>
    {% else %}
    <p><img src="/static/img/default.JPG" height=50 width=50>{{ post.author  }}</p>
    {% endif %}
    <p> <small> {{ post.date_posted  }}</small></p>
    <p text-align: center><br>
        <h4><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
    </p>
    <fieldset>
        <br>
        <p>{{ post.content  }}</p>
    </fieldset>

    <br>


    {% endfor %}
</div>
{% endblock content %}