{% extends "blog/base.html" %}

{% block content %}

<div>
    <form method="POST" action={% url 'login' %}>
        {% csrf_token %}
        <fieldset>
            <legend>Login</legend>
            {{ form.as_p }}
            <!-- <div>
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <br>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
            </div> -->
        </fieldset>
        <div>
            <button type="submit">Login</button>
            <small>
            </small>
        </div>
    </form>
    <div>
        <small>
            Need an account?<a href="{% url 'register' %}">Sign Up now</a>
        </small>
    </div>
</div>
{% endblock content %}