{% extends "blog/base.html" %}
{% block content %}

<h4>You have been logged out</h4>
<div>
    {% csrf_token %}
    <small>
        <button type="submit"><a href="{% url 'login' %}">Login again</a></button>
    </small>
</div>

{% endblock content %}