{% extends "blog/base.html" %}

{% block content %}
<div class="center">
    <div class="container">
        <form method="POST" action={% url 'apipost' %}>
            {% csrf_token %}
            <fieldset>
                <legend>Blog Post</legend>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
    {% endblock content %}