{% extends "blog/base.html" %}

{% block content %}
<div class="center">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Delete Post</legend>
            <h5>Are you sure you want to delete the post "{{ object.title }}"?</h5>
            </br>
            <div>
                <button type="submit">Yes, Delete</button>
                <button type="submit"><a href="{% url 'post-detail' object.id %}">Cancel</a></button>

            </div>
        </fieldset>
    </form>
</div>
{% endblock content %}