{% extends "blog/base.html" %}

{% block content %}
<div class="center">
    <div>
        <p><img src="{{ user.profile.image.url }}" height=50 width=50>{{ user.username }}</p>
        <p>
            {{ user.email }}
        </p>
    </div>
    <div class="container">
        <form method="POST" enctype="multipart/form-data" action={% url 'profile-update' user.id %}>
            {% csrf_token %}
            <fieldset>
                <legend>Profile Info</legend>
                {{ form.as_p }}
            </fieldset>
            <button type="submit">Update</button>
        </form>
    </div>
</div>

{% endblock content %}