{% extends "blog/base.html" %}

{% block content %}
<div class="center">
    <div>
        {%if post.author.profile.image.url%}
        <p><img src="{{ post.author.profile.image.url }}" height=50 width=50>{{ user.username }}</p>
        {% else %}
        <p><img src="/static/img/default.JPG" height=50 width=50>{{ user.username }}</p>
        {% endif %}
        <p>
            {{ user.email }}
        </p>
    </div>
    <button class="btn btn-outline-info" type="submit">
        <a href="{% url 'profile-update' user.id %}">Update</a></button>
    <br>
    <br>
    <br>
    <hr>
    <div>
        {% for i in blog %}
        <br>
        <h4><a href="{% url 'post-detail' i.id %}">{{ i.title }}</a></h4>
        <fieldset>
            <p>{{ i.content  }}</p>
        </fieldset>
        {% endfor %}
    </div>
</div>

{% endblock content %}