{% extends "blog/base.html" %}
{% block content %}
<div>
    <form method="POST" action={% url 'apiregister' %}>
        {% csrf_token %}
        <fieldset>
            <legend>Register</legend>
            {{ form.as_p }}
        </fieldset>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
    <div>
        <small>
            Already have an account?<a href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}